.contact,footer{
    text-align: center;
    background-color: #141414;
   
    padding-top: 48px; 
    border-width: 70%;
    border-bottom: 1px solid gray;

}
.contact h2{
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    margin-bottom: 48px;
}
form{
    width: 100%;
   
}
.inp{
    outline: none;
    color: gray;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 40px;
    margin: 20px 0px;
    border: transparent;
    border-bottom:1px solid #fff;
  

}
form button{
    margin: 50px;
   
    justify-content: center;
    align-items: center; 
    width: 100px;
    height: 40px;
    background-color: transparent;
    font-size: 20px ;
   
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: all .2s;
}
form button:hover{
    color: #000;
    background-color: #fff;
}